<div class="menuh">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand navbar-brand-img" href="#">
          <img [alt]="logoAlt" [src]="logoSrc" />
        </a>
        <a class="navbar-brand navbar-brand-sigla" href="#">
          {{logoName}}
        </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav">
          <li [ngSwitch]="il.liClass" *ngFor="let il of itensLeft" class="{{il.liClass}}">
            <a *ngSwitchDefault href="{{il.href}}" class="{{il.class}}">
              <i class="{{il.icon}}"></i>
              {{il.name}}
            </a>
            <a *ngSwitchCase="'dropdown'" data-submenu="" class="{{il.class}}"
              data-toggle="dropdown" tabindex="0" aria-expanded="false">
              <i class="{{il.icon}}"></i>
              {{il.name}}
              <i class="fa fa-caret-down"></i>
            </a>
            <ul *ngSwitchCase="'dropdown'" class="dropdown-menu">
              <li *ngFor="let ilc of il.liChild" class="{{ilc.liClass}}">
                <a href="{{ilc.href}}">
                  <i class="{{ilc.icon}}"></i>
                  {{ilc.name}}
                  <small *ngIf="ilc.acl" class="text-muted"> - {{ilc.acl}}</small>
                </a>
              </li>
            </ul>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li [ngSwitch]="ir.liClass" *ngFor="let ir of itensRight" class="{{ir.liClass}}">
            <a *ngSwitchDefault href="{{ir.href}}" class="{{ir.class}}">
              <i class="{{ir.icon}}"></i>
              {{ir.name}}
            </a>
            <a *ngSwitchCase="'dropdown'" data-submenu="" class="{{ir.class}}"
              data-toggle="dropdown" tabindex="0" aria-expanded="false">
              <i class="{{ir.icon}}"></i>
              {{ir.name}}
              <i class="fa fa-caret-down"></i>
            </a>
            <ul *ngSwitchCase="'dropdown'" class="dropdown-menu">
              <li *ngFor="let irc of ir.liChild" class="{{irc.liClass}}">
                <a href="{{irc.href}}">
                  <i class="{{irc.icon}}"></i>
                  {{irc.name}}
                  <small *ngIf="irc.acl" class="text-muted"> - {{irc.acl}}</small>
                </a>
              </li>
            </ul>
          </li>
        </ul>

      </div><!-- /.navbar-collapse -->
    </div>
  </nav>
</div>
